{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- <header>
      <div class="container container-fluid">
      
        <div class="links">
          <a href="../index.html">Home</a>
          <a href="blog.html">VirtualSpace</a>
          <a href="author.html">Author</a>
        </div>
        <div class="action-btn">
          <a href="login.html"
            ><button class="btn btn-scoundary">Login</button></a
          >
          <a href="signup.html">
            <button class="btn btn-primary">Sign Up</button></a
          >
          <i class="uil uil-align-center-alt menu" onclick="menu()"></i>
        </div>
      </div>
    </header> -->
    <main>
      <div class="container">
        <div class="layout">
          <!-- left layout -->
          <div class="left">
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
                  <a href="#" class="learn">
                    <span class="material-icons"> keyboard_return </span> Go
                    back
                  </a>
                  <h1>Blog</h1>
                </div>
              </div>
            </div>

            <center>
              <div class="typo">
                <h1 class="title blog-title">
                  A blog title and other stuffs will add here, also we can
                  incluse.
                </h1>
                <div class="timeline">
                  <div class="track">
                    <i class="uil uil-clock"></i>
                    <p class="time">{{ j.time }}</p>
                  </div>
                  <div class="track">
                    <i class="uil uil-users-alt"></i>
                    <p class="view-count">{{ j.view_count }} views</p>
                  </div>
                  <div class="track">
                    <form action="{% url 'bookmarks' j.id %}" method="POST">
                      {% csrf_token %}
                      {% if user.is_authenticated %}
                        <input type="hidden" name="post_id" value="{{j.id}}">
                          {% if book_is_click %}
                            <button type="submit">
                              <i class="fa-solid fa-bookmark"></i><span>Remove Bookmark</span>
                            </button>
                          {% else %}
                            <button type="submit">
                              <i class="uil uil-bookmark-full"></i><span>Bookmark</span>
                            </button>
                          {% endif %}
                     </form>
                      {% else %}
                          <a class="track" href="#">
                              <i class="uil uil-bookmark-full"></i><span>Bookmark</span>
                            </a><br>
                      {% endif %}
                      <!-- <button type="submit" class="btn btn-info">
                        <i class="uil uil-bookmark-full"></i>
                        <p class="bookmark">Bookmark</p>
                         REMOVE BOOKMARK
                          <i class="fa-solid fa-bookmark"></i>
                      </button>
                    </form> -->
                  </div>
                </div>
              </div>
            </center>
            <section class="mt">
              <div class="container">
                <!-- blog post -->
                <div class="blog-post">
                  <div class="post-img blog-img">
                    <img src="../images/post.png" alt="" />
                  </div>
                  <div class="blog-post-content">
                    <p>
                      If you have invested time, energy and money on creating a
                      website for your business, you know very well that
                      nowadays virtually every company must have an online
                      presence. However, having a great website in place is not
                      a final goal that you can afford to tick and archive. A
                      website is never something static, and this is why you
                      should always keep up with change and continuously improve
                      it. It would help if you thought of your website as a
                      salesman who represents your company every day and keeps
                      an eye on what is happening in the field. Competitors will
                      adopt new strategies, as the needs of your existing and
                      potential customers evolve. Therefore, there are many good
                      reasons why you should invest periodically in re-adapting
                      your website’s content and functionality.
                    </p>
                    <br /><br />
                    <p>
                      If you have invested time, energy and money on creating a
                      website for your business, you know very well that
                      nowadays virtually every company must have an online
                      presence. However, having a great website in place is not
                      a final goal that you can afford to tick and archive. A
                      website is never something static, and this is why you
                      should always keep up with change and continuously improve
                      it. It would help if you thought of your website as a
                      salesman who represents your company every day and keeps
                      an eye on what is happening in the field. Competitors will
                      adopt new strategies, as the needs of your existing and
                      potential customers evolve. Therefore, there are many good
                      reasons why you should invest periodically in re-adapting
                      your website’s content and functionality.
                    </p>
                    <br /><br />
                    <p>
                      If you have invested time, energy and money on creating a
                      website for your business, you know very well that
                      nowadays virtually every company must have an online
                      presence. However, having a great website in place is not
                      a final goal that you can afford to tick and archive. A
                      website is never something static, and this is why you
                      should always keep up with change and continuously improve
                      it. It would help if you thought of your website as a
                      salesman who represents your company every day and keeps
                      an eye on what is happening in the field. Competitors will
                      adopt new strategies, as the needs of your existing and
                      potential customers evolve. Therefore, there are many good
                      reasons why you should invest periodically in re-adapting
                      your website’s content and functionality.
                    </p>
                    <div class="blog-tags">
                    {% for i in sa %}
                      <a href="{% url 'jdetails' i.id %}"><div class="tag">{{ i.post_type }}</div></a>
                    {% endfor %}

                    </div>
                    <!-- likes code starts here -->
                    <div class="social-share">
                      <div class="reactions">
                        <div class="likes">
                          {% if user.is_authenticated %}
                              <form action="{% url 'likes' j.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{j.id}}">
                                {% if post_is_liked %}
                                  <button type="submit">
                                    <i class="fa-solid fa-heart"></i><span>{{number_of_likes}}</span>
                                  </button>
                                {% else %}
                                  <button type="submit">
                                    <i class="uil uil-heart"></i><span>{{number_of_likes}}</span>
                                  </button>
                                {% endif %}
                              </form>
                          {% else %}
                            <a class="track" href="#">
                              <i class="uil uil-heart"></i> <span>{{number_of_likes}}</span>
                            </a><br>
                        {% endif %}
                      </div>
                      <!-- likes code ends here -->
                  
                          
                      
                        <div class="total-comments">
                          <i class="uil uil-comment-alt"></i>
                          <span>10</span>
                        </div>
                      </div>
                      <div class="share">
                        <div class="social">
                          <a href="https://www.facebook.com/">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a href="https://www.instagram.com/">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                          <a href="https://in.linkedin.com/">
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                          <a href="https://twitter.com/i/flow/login">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- comments -->
                    
                   
                    <!-- user comment end -->
                    <!-- user comment -->
                    <div class="user-comment">
                      {% for m in k %}
                      <div class="author">
                        <div class="profile-pic">
                          <img src="../images/author.svg" alt="" />
                        </div>
                        <div class="details">
                          <p>{{ m.Name}}</p>
                          <small>{{ m.Date }}</small>
                        </div>
                      </div>
                      <div class="comment-sec-main">
                        <div class="comment-sec">
                          <div class="comment">
                                <p>{{ m.Content }}</p>
                               
                          </div>
                          <div class="reply">
                            <button onclick="toggleDiv(this)">Reply</button>
                          </div>
                          
                            
                         
                          <div class="comment-box" id="comment-reply-box">
                            <h3>Reply to post</h3>
                            <p>
                              Your email address will not be published. Required fields
                              are marked<span>*</span>
                            </p>
                            
                            <form method="POST">
                                {% csrf_token %}
                                
                                    {{ cform.Content }}
                                    <!-- <textarea name="content" cols="40" rows="10" placeholder="Type your comment...." required id="id_content"></textarea> -->
                                    
                                    <div class="grid-3">
                                        <p>{{ cform.Name }}</p><p>{{ cform.Email }}</p>
                                        <input type="hidden" name="post_id" value={{j.id}}>
                                        <input type="hidden" name="parent" value={{m.id}}>
                                        <!-- <input type="text" name="name" maxlength="200" placeholder="Name" required id="id_name">
                                        <input type="text" name="email" maxlength="200" placeholder="Email" required id="id_email">
                                        <input type="text" name="website" maxlength="200" placeholder="Website" id="id_website"> -->
                                    </div>
                              
              
                              <button class="btn btn-primary rounded">
                                Post Reply
                              </button>
                            </form>
                          </div> 
                          {% for a in m.replies.all %}
                          <div class="public-reply">
                            <div class="author">
                              <div class="profile-pic">
                                <img src="../images/author.svg" alt="" />
                              </div>
                              <div class="details">
                                <p>Author name</p>
                                <small>June 20, 2022</small>
                              </div>
                            </div>
                            <div class="comment">
                              <p>
                                  <li>{{ a.Content }}</li>
                              </p>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- user comment end -->
                  </div>
                </div>
                <div class="comment-box">
                  <h3>Leave a new comment to this post</h3>
                  <p>
                    Your email address will not be published. Required fields
                    are marked<span>*</span>
                  </p>
                  <form action="" method="POST">
                     {% csrf_token %}
                         {{ cform.Content }}
                         
                    <div class="grid-3">
                      <p>{{ cform.Name }}</p><p>{{ cform.Email }}</p>
                      <input type="hidden" name="post_id" value={{j.id}}>
                    </div>
                    <button class="btn btn-primary rounded">
                      Post comment
                    </button>
                  </form>
                </div>
              </div>
            </section>
          </div>
          <!-- left layout end -->

          <!-- right layout -->
          <div class="right">
            <div class="block">
              <h2 class="title2">Most recent</h2>
              {% for i in vis %}
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="../images/post.png" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    {{ i.description }}
                  </h3>
                  <a class="learn" href="{% url 'jdetails' i.id %}"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
              {% endfor %}
              <!-- <div class="recent-post">
                <div class="rounded-img">
                  <img src="../images/post.png" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    A blog title and other stuffs will add here, also we can
                    incluse.
                  </h3>
                  <a class="learn" href="#"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div> 
              </div> -->
              <!-- <div class="recent-post">
                <div class="rounded-img">
                  <img src="../images/post.png" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    A blog title and other stuffs will add here, also we can
                    incluse.
                  </h3>
                  <a class="learn" href="#"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div> -->
            </div>

            <div class="block r-blog">
              <h2 class="title2">Related Blogs</h2>
              <!-- card -->
              {% for i in posts %}
              <a href="{% url 'jdetails' i.id %}">
                <div class="card">
                  <div class="post-img">
                    <img src="../images/post.png" alt="" />
                    <div class="tag">{{ i.post_type }}</div>
                  </div>
                  <div class="card-content">
                    <h3>
                     {{ i.post_type }}
                    </h3>
                    <div class="author">
                      <div class="profile-pic">
                        <img src="../images/author.svg" alt="" />
                      </div>
                      <div class="details">
                        <p>{{ i.author_name }}</p>
                        <small>{{ i.time }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              {% endfor %}
              <!-- card end-->

              <!-- card -->
              <!-- <a href="#">
                <div class="card">
                  <div class="post-img">
                    <img src="../images/post.png" alt="" />
                    <div class="tag">Tag name</div>
                  </div>
                  <div class="card-content">
                    <h3>
                      A blog title and other stuffs will add here, also we can
                      include.
                    </h3>
                    <div class="author">
                      <div class="profile-pic">
                        <img src="../images/author.svg" alt="" />
                      </div>
                      <div class="details">
                        <p>Author name</p>
                        <small>June 20, 2023</small>
                      </div>
                    </div>
                  </div>
                </div>
              </a> -->
              <!-- card end-->
            </div>
            <div class="block">
              <h2 class="title2">Top category</h2>
              {% for i in vish %}
              <div class="card">
                <h3>
                  {{ i.description }}

                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="{% url 'jdetails' i.id %}"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
              {% endfor %}
              <!-- <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div> -->
              <!-- <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div> -->
            </div>
            <div class="block">
              <h2 class="title2">Top Tags</h2>
              <div class="blog-tags">
                    {% for i in sa %}
                      <a href="{% url 'jdetails' i.id %}"><div class="tag">{{ i.post_type }}</div></a>
                    {% endfor %}
              </div>
            </div>
          </div>
          <!-- right layout end -->
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="grid-4">
        
          <div class="link">
            <h2>Quick link</h2>
            <div class="q-link">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'jobpost' %}">JobPosts</a>
              <a href="{% url 'blog' %}">Blogs</a>
              <a href="#">Unsubscribe</a>
            </div>
          </div>
          <div class="link">
            <h2>Top cetagory</h2>
            <div class="q-link">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'jobpost' %}">JobPosts</a>
              <a href="{% url 'blog' %}">Blogs</a>
              <a href="#">Unsubscribe</a>
            </div>
          </div>
          <div class="news-signup">
            <h2>Subscribe</h2>
            <div class="newsletter">
              <form method="POST">
                {% csrf_token %}
                
                  {{ i.Email }}&nbsp;&nbsp;
               
                <button class="btn btn-primary">Subscribe</button>
              </form>
            </div>
            <div>
              {% if saved %}
                 <p>Thanks For Subscribing</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="share">
          <div class="social">
            <a href="https://www.facebook.com/">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://in.linkedin.com/">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://twitter.com/i/flow/login">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../url.js" id="url"></script>
  </body>
</html>

{% endblock %}