{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- <header>
      <div class="container container-fluid">
        
        <div class="links">
          <a href="{% url 'home' %}">Home</a>
          <a href="pages/blog.html">VirtualSpace</a>
          <a href="pages/author.html">Author</a>
        </div>
        <div class="action-btn">
          <a href="pages/login.html"
            ><button class="btn btn-scoundary">Login</button></a
          >
          <a href="pages/signup.html">
            <button class="btn btn-primary">Sign Up</button></a
          >
          <i class="uil uil-align-center-alt menu" onclick="menu()"></i>
        </div>
      </div>
    </header> -->
    <main class="sp">
      <div class="container">
        <center>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
             <div class="animated-search" onclick="searchbar()">
              <a href="{% url 'search' %}"><i class="uil uil-search"></i></a>
            </div>
          </div>
          <div class="typo">
            <h1 class="title">Website blog title</h1>
            <p>
              Lorem ipsum began as scrambled, nonsensical Latin derived from
              Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
            </p>
          </div>
          <div class="newsletter">
            <form method="POST">
              {% csrf_token %}
              
                {{ i.Email }}&nbsp;&nbsp;
             
              <button class="btn btn-primary">Subscribe</button>
            </form>
          </div>
          <div>
            {% if saved %}
               <p>Thanks For Subscribing</p>
            {% endif %}
          </div>
        </center>
      </div>
    </main>
    <section class="sp">
      <div class="container">
        {% for i in vi %}
        <div class="grid-2">
          <div class="post-img">
            <img src="images/post.png" alt="" />
          </div>
          <div class="post-content">
            <div class="cetagory">
              <p>Category name</p>
            </div>
            <h1>
              {{ i.post_title }}
            </h1>
            <p class="des">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
              ullam animi repellat non ut delectus culpa! Iste quia corporis
              illum doloribus facilis quo totam eveniet sapiente odit
              cupiditate? Cumque, nam? 
              <!-- {{ i.description }} -->
            </p>
            <a class="learn" href="#"
              >Learn more <span class="material-icons"> trending_flat </span></a
            >
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">Top blogs</h1>
        <div class="grid-3">
          <!-- card -->
          {% for i in vish %}
          <a href="{% url 'jdetails' i.id %}">
            <div class="card">
              <div class="post-img">
                <img src="images/post.png" alt="" />
                <div class="tag">{{ i.post_type }}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{ i.post_title }}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>{{ i.author_name }}</p>
                    <small>{{ i.time }}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">New blogs</h1>
        <div class="grid-3">
          <!-- card -->
          {% for i in vis %}
          <a href="{% url 'jdetails' i.id %}">
            <div class="card">
              <div class="post-img">
                <img src="images/post.png" alt="" />
                  <div class="tag">
                    
                      {{ i.post_type }}
                  
                  </div>
              </div>
              <div class="card-content">
                <h3>
                  {{ i.post_title }}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>{{ i.author_name }}</p>
                    <small>{{ i.time }}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="grid-4">
          <div class="logo f-logo">
            <i class="fa-brands fa-blogger"></i>
          </div>
          <div class="link">
            <h2>Quick link</h2>
            <div class="q-link">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'jobpost' %}">JobPosts</a>
              <a href="{% url 'blog' %}">Blogs</a>
              <a href="#">Unsubscribe</a>
            </div>
          </div>
          <div class="link">
            <h2>Top cetagory</h2>
            <div class="q-link">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'jobpost' %}">JobPosts</a>
              <a href="{% url 'blog' %}">Blogs</a>
              <a href="#">Unsubscribe</a>
            </div>
          </div>
          <div class="news-signup">
            <h2>Subscribe</h2>
            <div class="newsletter">
              <form method="POST">
                {% csrf_token %}
                
                  {{ i.Email }}&nbsp;&nbsp;
               
                <button class="btn btn-primary">Subscribe</button>
              </form>
            </div>
            <div>
              {% if saved %}
                 <p>Thanks For Subscribing</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="share">
          <div class="social">
            <a href="https://www.facebook.com/">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://in.linkedin.com/">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://twitter.com/i/flow/login">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="url.js" id="url"></script>
  </body>
</html>
{% endblock %}








<!-- 
<div class="container">
    <div class="jumbotron"> -->
        <!-- <div class="row">
            {% for i in vish %}
                <div class="col-md-6">
                    <div class="">
                        <h1>Name of Author:-{{ i.author_name }}</h1>
                        <p>Type Of Post:-{{ i.post_type}}</p>
                        <p>Post Title:-{{ i.post_title }}</p>
                        <p>SubTitle:-{{ i.sub_title }}</p>
                        <p>Description:-{{ i.description }}</p>
                        {% if i.image %}
                            <img src="{{ i.image.url }}" alt="" width="50px" height="50px">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div> -->
<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container container-fluid">
        
        <div class="links">
          <img src="{% static 'images/Logo.png' %}" alt="" height="90px" width="30%">
          <a href="{% url 'home' %}">Home</a>
          <a href="blog.html">VirtualSpace</a>
          <a href="author.html">Author</a>
        </div>
        <div class="action-btn">
          <i class="uil uil-align-center-alt menu" onclick="menu()"></i>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="layout"> -->
          <!-- left layout -->
          <!-- <div class="left">
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
                  <a href="#" class="learn">
                    <span class="material-icons"> keyboard_return </span> Go
                    back
                  </a>
                  <h1>Blog</h1>
                </div>
                <div class="search-bar s-active">
                  <input type="text" placeholder="Search" />
                  <div class="animated-search">
                    <i class="uil uil-search"></i>
                  </div>
                </div>
              </div>
            </div>

            <center>
              <div class="typo">
                <h1 class="title">Category name</h1>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
              </div>
            </center>
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Top posts</h1>
                <div class="grid-2 blog"> -->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20 2023</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20, 2023</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                <!-- </div>
              </div>
            </section>
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Treandy</h1>
                <div class="grid-3 blog-grid"> -->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20, 2023</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a> -->
                  <!-- card end-->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20, 2023</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a> --> -->
                  <!-- card end-->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20, 2023</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a> --> -->
                  <!-- card end-->
                <!-- </div>
                <center>
                  <button class="btn btn-primary rounded view">
                    View more
                    <span class="material-icons"> trending_flat </span>
                  </button>
                </center>
              </div>
            </section>
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Featueal</h1>
                <div class="grid-3 blog-grid"> -->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20, 2023</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a> -->
                  <!-- card end-->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20, 2022</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a> -->
                  <!-- card end-->
                  <!-- card -->
                  <!-- <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="../images/post.png" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          A blog title and other stuffs will add here, also we
                          can include.
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="../images/author.svg" alt="" />
                          </div>
                          <div class="details">
                            <p>Author name</p>
                            <small>June 20, 2022</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a> -->
                  <!-- card end-->
                <!-- </div>
                <center>
                  <button class="btn btn-primary rounded view">
                    View more
                    <span class="material-icons"> trending_flat </span>
                  </button>
                </center>
              </div>
            </section>
          </div> -->
          <!-- left layout end -->

          <!-- right layout -->
          <!-- <div class="right">
            <div class="block">
              <h2 class="title2">Other category</h2>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
            </div>

            <div class="block">
              <h2 class="title2">Top category</h2>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
            </div>
          </div>
          <!-- right layout end -->
        <!-- </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="grid-4">
          <div class="logo f-logo">
            <i class="fa-brands fa-blogger"></i>
          </div>
          <div class="link">
            <h2>Quick link</h2>
            <div class="q-link">
              <a href="#">Home</a>
              <a href="#">Blog</a>
              <a href="#">Unsubscribe</a>
            </div>
          </div>
          <div class="link">
            <h2>Top cetagory</h2>
            <div class="q-link">
              <a href="#">Home</a>
              <a href="#">Blog</a>
              <a href="#">Unsubscribe</a>
            </div>
          </div>
          <div class="news-signup">
            <h2>Subscribe</h2>
            <div class="newsletter">
              <form method="POST">
                <input
                  type="email"
                  name="email"
                  maxlength="100"
                  placeholder="Enter your email"
                  required=""
                  id="id_email"
                />
                <button class="btn btn-primary">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="share">
          <div class="social">
            <a href="#">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../url.js" id="url"></script>
  </body>
</html> --> -->
    <!-- </div>
</div>
{{ redirect_to_login_immediately }}
 -->




