{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    {% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <!-- <link rel="stylesheet" href="../css.css" /> -->
        <link
        rel="stylesheet"
        href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
        />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        /> 
        <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet"
        />

        <title>Document</title>
    </head>
    <body>
        <!-- <header>
        <div class="container container-fluid">
            
            <div class="links">
            <img src="{% static 'images/Logo.png' %}" alt="" height="90px" width="30%">
            <a href="{% url 'home' %}">Home</a>
            <a href="blog.html">VirtualSpace</a>
            <a href="author.html">Author</a>
            </div>
            <div class="action-btn">
            <a href="login.html"><button class="btn btn-scoundary">Login</button></a>
            <a href="signup.html"><button class="btn btn-primary">Sign Up</button></a>
            <i class="uil uil-align-center-alt menu" onclick="menu()"></i>
            </div>
        </div>
        </header> -->
        <main>
        <div class="container">
            <div class="page-name">
            <a href="#" class="learn">
                <span class="material-icons"> keyboard_return </span> Go back
            </a>
            <h1>Sign Up</h1>
            </div>
            {% if registered %}
                <h1 align="center">Thanks For Registered...!</h1>
            {% else %}
                <form action="{% url 'register' %}" class="form" method="POST">
                    {% csrf_token %}
                <center>
                    <div class="inputs">
                    <div class="vishnu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" style="fill:#ff4b64"><path d="M13 19v-4h3l-4-5-4 5h3v4z"></path><path d="M7 19h2v-2H7c-1.654 0-3-1.346-3-3 0-1.404 1.199-2.756 2.673-3.015l.581-.102.192-.558C8.149 8.274 9.895 7 12 7c2.757 0 5 2.243 5 5v1h1c1.103 0 2 .897 2 2s-.897 2-2 2h-3v2h3c2.206 0 4-1.794 4-4a4.01 4.01 0 0 0-3.056-3.888C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.611 5.757 9.15 3.609 9.792 2 11.82 2 14c0 2.757 2.243 5 5 5z"></path></svg>
                        <div class="search-bar s-active input">
                            {{ form.username }}
                        <div class="animated-search">
                            <i class="uil uil-user"></i>
                        </div>
                        </div>
                        <!-- <div class="field-error">
                        <p>Username already taken. Please try another one.</p>
                        </div> -->
                    </div> 
                    <div>
                        <div class="search-bar s-active input">
                            {{ form.email }}
                        <div class="animated-search">
                            <i class="uil uil-envelope-alt"></i>
                        </div>
                        </div>
                        <!-- <div class="field-error">
                        <p>Enter a valid email address</p>
                        </div> -->
                    </div>
                    <div>
                        <div class="search-bar s-active input">
                        {{ form.password }}
                        <div class="animated-search">
                            <i class="uil uil-key-skeleton"></i>
                        </div>
                        </div>
                        <!-- <div class="field-error">
                        <p>
                            This password is too short. It must need to contain at least
                            8 characters
                        </p>
                        </div> -->
                        <br><br>
                    {{ form.captcha }}
                    </div>
                    <!-- <div>
                        <div class="search-bar s-active input">
                        <input type="tpassword" placeholder="Confirm password" />
                        <div class="animated-search">
                            <i class="uil uil-key-skeleton"></i>
                        </div>
                        </div> -->
                        <!-- <div class="field-error">
                        <p>
                            This password is too short. It must need to contain at least
                            8 characters
                        </p>
                        </div> -->
                    <!-- </div> -->
                    <!-- <button class="btn btn-primary rounded">
                        SIGN UP <span class="material-icons"> arrow_right_alt </span>
                    </button> -->
                    <input type="submit" class="btn btn-primary rounded" value="SIGN UP" span class="material-icons"></span>
                    <center>
                        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                    </center>
                    </div>
                </center>
                </form>
            {% endif %}
                </div>
                </main>
                <footer>
                <div class="container">
                    <div class="grid-4">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" style="fill:#ff4b64"><path d="M13 19v-4h3l-4-5-4 5h3v4z"></path><path d="M7 19h2v-2H7c-1.654 0-3-1.346-3-3 0-1.404 1.199-2.756 2.673-3.015l.581-.102.192-.558C8.149 8.274 9.895 7 12 7c2.757 0 5 2.243 5 5v1h1c1.103 0 2 .897 2 2s-.897 2-2 2h-3v2h3c2.206 0 4-1.794 4-4a4.01 4.01 0 0 0-3.056-3.888C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.611 5.757 9.15 3.609 9.792 2 11.82 2 14c0 2.757 2.243 5 5 5z"></path></svg></div>
                    <div class="link">
                        <h2>Quick link</h2>
                        <div class="q-link">
                        <a href="#">Home</a>
                        <a href="#">Blog</a>
                        <a href="#">Unsubscribe</a>
                        </div>
                    </div>
                    <div class="link">
                        <h2>Top cetagory</h2>
                        <div class="q-link">
                        <a href="#">Home</a>
                        <a href="#">Blog</a>
                        <a href="#">Unsubscribe</a>
                        </div>
                    </div>
                    <div class="news-signup">
                        <h2>Subscribe</h2>
                        <div class="newsletter">
                        <form method="POST">
                            <input
                            type="email"
                            name="email"
                            maxlength="100"
                            placeholder="Enter your email"
                            required=""
                            id="id_email"
                            />
                            <button class="btn btn-primary">Subscribe</button>
                        </form>
                        </div>
                    </div>
                    </div>
                    <div class="share">
                        <div class="social">
                          <a href="https://www.facebook.com/">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a href="https://www.instagram.com/">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                          <a href="https://in.linkedin.com/">
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                          <a href="https://twitter.com/i/flow/login">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </div>
                      </div>
                </div>
                </footer>
                <script src="../url.js" id="url"></script>
        </body>
        </html>
{% endblock %}
        <!-- <div class="container">
            <div class="jumbotron">
                <h1>Create your vitual space and Discuss About Your Thoughts</h1><hr>
                {% if registered %}
                    <h1>Thanks For Registration....!</h1>
                {% else %}
                    <form action="" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <h1>Registration Form .......!</h1>
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Register">
                    </form>
                {% endif %}
                </form>
            </div>
        </div> -->
